@CHARSET "UTF-8";

header {
	color: #FFF;
	background: #337ab7;
}

footer {
	color: #FFF;
	background: #337ab7;
}

body{
	font-family: Arial, Helvetica, sans-serif;
}


.filterContent{
	background: #F8F8F8;
	padding: 10px;
	padding-left: 30px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: solid 1px #DDD;
}

/* =================================== */
/* ========= Generals Styles ========= */
/* =================================== */

/* Margin */

.tiny-margin-left{
	margin-left: 2px;
}
.tiny-margin-right{
	margin-right: 2px;
}
.tiny-margin-top{
	margin-top: 2px;
}
.tiny-margin-bottom{
	margin-bottom: 2px;
}
.tiny-margin{
	margin: 2px;
}

/* ----- */

.small-margin-left{
	margin-left: 5px;
}
.small-margin-right{
	margin-right: 5px;
}
.small-margin-top{
	margin-top: 5px;
}
.small-margin-bottom{
	margin-bottom: 5px;
}
.small-margin{
	margin: 5px;
}

/* ----- */

.medium-margin-left{
	margin-left: 10px;
}
.medium-margin-right{
	margin-right: 10px;
}
.medium-margin-top{
	margin-top: 10px;
}
.medium-margin-bottom{
	margin-bottom: 10px;
}
.medium-margin{
	margin: 10px;
}

/* ----- */

.large-margin-left{
	margin-left: 20px;
}
.large-margin-right{
	margin-right: 20px;
}
.large-margin-top{
	margin-top: 20px;
}
.large-margin-bottom{
	margin-bottom: 20px;
}
.large-margin{
	margin: 20px;
}

/* ====================== */

/* Padding */

.tiny-padding-left{
	padding-left: 2px;
}
.tiny-padding-right{
	padding-right: 2px;
}
.tiny-padding-top{
	padding-top: 2px;
}
.tiny-padding-bottom{
	padding-bottom: 2px;
}
.tiny-padding{
	padding: 2px;
}

/* ----- */

.small-padding-left{
	padding-left: 5px;
}
.small-padding-right{
	padding-right: 5px;
}
.small-padding-top{
	padding-top: 5px;
}
.small-padding-bottom{
	padding-bottom: 5px;
}
.small-padding{
	padding: 5px;
}

/* ----- */

.medium-padding-left{
	padding-left: 10px;
}
.medium-padding-right{
	padding-right: 10px;
}
.medium-padding-top{
	padding-top: 10px;
}
.medium-padding-bottom{
	padding-bottom: 10px;
}
.medium-padding{
	padding: 10px;
}

/* ----- */

.large-padding-left{
	padding-left: 20px;
}
.large-padding-right{
	padding-right: 20px;
}
.large-padding-top{
	padding-top: 20px;
}
.large-padding-bottom{
	padding-bottom: 20px;
}
.large-padding{
	padding: 20px;
}

/* ====================== */

/* Border */

.gray-border-left{
	border-left: solid #DDDDDD 1px;
}
.gray-border-right{
	border-right: solid #DDDDDD 1px;
}
.gray-border-top{
	border-top: solid #DDDDDD 1px;
}
.gray-border-bottom{
	border-bottom: solid #DDDDDD 1px;
}
.gray-border{
	border: solid #DDDDDD 1px;
}

/* =================================== */