<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>User Security Manager</title>

	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="../resources/css/main.css">
</head>
<body>
	<header class="row">
		<h1 class="col-md-12">User Security Manager</h1>
	</header>

	<section class="row">
		<div class="col-md-12">Contenido</div>
	</section>

	<footer class="row">
		<h5 class="col-md-12">Leandro Carrasco - 2015</h5>
	</footer>
</body>
</html>